* {
    font-family: Helvetica, sans-serif;
}

img {
    border-color: white;
    margin-bottom: 20px;
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    background-color: blanchedalmond;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    font-size: 30px;
    background-color: blue;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkorange;
}

.header {
    display: flex;
    flex: 2;
    max-height: 500px;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 800;
    padding: 15px;
    margin: 15px;
    background-color: cadetblue;
    gap: 20px;
}

.sidebar {
    display: flex;
    width: 450px;
    flex-shrink: 0;
    font-size: 26px;
    background-color: crimson;
}

.footer {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    background-color: darkolivegreen;
    height: 40px;
}
a {
    text-decoration: none;
}
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px;
    gap: 4px;
}

li {
    margin: 10px;
}
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #dbd7bf;
    border: 2px solid black;
    border-radius: 25px;
    row-gap: 20px;
    padding-left: -10px;
    margin-left: 35px;
    margin-right: 35px;
}
.description {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: 100;
}

.title {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
}

.sidebar-apple {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    background-color: hotpink;
    gap: 20px;
    font-size: 28px;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    font-weight: 900;
}
.crust {
    display: flex;
    background-color: blueviolet;
    font-size: 20px;
    font-weight:500;
}

.filling {
    display: flex;
    background-color: yellow;
    font-size: 20px;
    font-weight: 500;
}

.topping {
    display: flex;
    background-color: greenyellow;
    font-size: 20px; 
    font-weight: 500; 
}