* {
    font-family: Helvetica, sans-serif;
}

img {
    border-color: white;
    margin-bottom: 20px;
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
}

h1 {
    font-size: 50px;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    background-color: blanchedalmond;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    background-color: blue;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkorange;
    font-size: 35px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 800;
    padding: 15px;
    margin: 15px;
    background-color: cadetblue;
}

.sidebar {
    display: flex;
    width: 300px;
    flex-shrink: 0;
    font-size: 26px;
    background-color: crimson;
}

.footer {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    background-color: darkolivegreen;
}
a {
    text-decoration: none;
}
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 10px;
}
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #dbd7bf;
    border: 2px solid black;
    border-radius: 25px;
    row-gap: 20px;
    padding-left: -10px;
    margin-left: 35px;
    margin-right: 35px;
}
.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px hidden black;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    height: 80px;
}
.words {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.content {
    display: flex;
    flex: 0;
    padding: 5px;
    margin: 30px;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    background-color: #dbd7bf;
    border: 2px solid black;
    border-radius: 25px;
    flex-wrap: wrap;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0; 
    padding-right: 15px;
    background-color: rgba(143, 184, 161, 0.5);
    border: 2px solid black;
    border-radius: 25px;
    flex-wrap: wrap;
}
.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 2; 
    flex-shrink: 0;
    background-color: rgba(143, 184, 161, 0.5);
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 25px;
    border: 2px solid black;
    height: 300px;

}

.steps {
    align-self: center;
    margin-bottom: 0px;
}